 <style>
     .footer {
         position: relative;
         margin-top: -150px; /* negative value of footer height */
         height: 150px;
         clear: both;
         padding-top: 20px;
     } 
 </style>
    
    <!-- /.container -->

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
               
                <hr />
                <p>
                    <h5>
                        <strong>

                            Harita
                        </strong>
                    </h5>
                    <a href="/Home/About">About</a>
                    <br />
                    <a href="/Home/Index">Latest</a>
                    <br />
                    <a href="/Home/MostLiked">Most Liked</a>
                    <br />

                </p>
            </div>
            <div class="col-lg-4 text-center">
                <hr />
                <p>Copyright &copy; Your Website @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                
                <hr />
                <div class="col-md-10 ml-5">
                                    
                        <a href="/Home/Contact">İletişim</a>                       
                    
                </div>
            </div>
        </div>
    </footer>

<!-- /.container -->
