 <!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>
                        
                        Harita
                    </strong>
                </h5>
                <hr />
                <p>

                    <a href="/Home/About">About</a>
                    <br />
                    <a href="/Home/Index">Latest</a>
                    <br />
                    <a href="/Home/MostLiked">Most Liked</a>
                    <br />

                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>
                        Tarih
                    </strong>
                </h5><hr />
                <p>Copyright &copy; Your Website @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>
                        Başlık
                    </strong>
                </h5>
                <hr />
                <div class="col-md-10">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="e- posta adresi" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-send"></span>Gönder
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->
