
@{
    ViewBag.Title = "AccessDenied";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1><span class="fa fa-remove-circle"></span>  Yekisiz </h1>
        <p>
            Erişmin Yok
            <br /><br />
            @Bootstrap.LinkButton("/Home/Index","primary","","","home","Ana Sayfaya Git!")
        </p>
    </div>
</div>
